*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.static {
  position: relative;
  /* left: 100px; */
  width: 400px;
  border: 2px solid red;
  z-index: 100;
  background-color: yellowgreen;
}

.relative{
    position: relative;
    right: 300px;
    bottom: 100px;
    border: 2px solid rgb(0, 8, 255);
    width: 400px;
    z-index: 0;
    background-color: yellow;
}

.absolute{
    position: absolute;

    border: 2px solid rgb(0, 8, 255);
    width: 400px;
    height:300px;
    z-index: 0;
    background-color: rgb(255, 149, 0);
}

.absolute-text{
    position: absolute;
    background-color: aquamarine;
    padding: 30px;
    bottom: 40px;
    right: 20px;
}


.fixed{
    background-color: blueviolet;
    padding: 20px;
    width: 100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.fixed:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

.sticky{
    background-color: rgb(255, 133, 133);
    padding: 20px;
    width: 100%;
    position: sticky;
    top: 0px;
    right: inherit;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

.dropdown{
    display: none;
}

.dr:hover .dropdown{
    display: block;
}