@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  /* scroll behavior smoothly */
  scroll-behavior: smooth;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.logo-header {
  display: flex;
}

.title {
  text-align: center;
  margin-left: 30px;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  text-transform: capitalize;
}

nav a {
  margin: 20px;
}

div.jumbotron {
  position: relative;
  top: 80px;
  /* background-color: bisque; */
  background-image: url(cool-background.png);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  text-align: center;
}

h2.jumbotron {
  text-transform: uppercase;
  text-shadow: 3px 5px 10px red;
}

#desc {
  text-align: center;
  font-size: larger;
  border: 2px solid rgb(255, 187, 0);
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.img-jumbotron {
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* max-width: 300px;
  min-width: 200px; */
  width: 80%;
  max-width: 400px;
}

.product-name {
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 20px;
}

.price-item {
  background-color: #d6c34a;
  background-image: linear-gradient(119deg, #d6c34a 0%, #dea20b 100%);
  width: 100px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.price-item:hover {
  background-color: #d6c34a;
  background-image: linear-gradient(119deg, #d6c34a 0%, #dea20b 100%);
  width: 100px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.image-item {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.item-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.item {
  margin: 20px;
}

#table-products {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.718);
  /* background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #dde796 100%); */

  padding: 30px;
}

.table-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  height: 80px;
  vertical-align: center;
}

th,
td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid black;
  width: 200px;
}

th {
  background-color: rgba(218, 155, 46, 0.812);
}

tr:nth-child(even) {
  background-color: rgba(240, 195, 117, 0.712);
}

tr:hover {
  background-color: #f38d28ea;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

td img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(253, 153, 2);
  opacity: 0.8;
}

footer {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #dde796 100%);
  color: rgb(250, 116, 6);
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(250, 116, 6);
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 20px;
  padding: 30px;
  margin: 20px;
}

.detail img {
  width: 300px;
  margin-right: 50px;
}

.detail-info button {
  background-color: #d6c34a;
  background-image: linear-gradient(119deg, #d6c34a 0%, #dea20b 100%);
  width: 100px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 50px;
}

footer {
  background-color: rgb(245, 235, 220);
}
.main-footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.left-footer {
  margin-right: auto;
  margin-left: 40px;
}
.right-footer {
  margin-left: auto;
  margin-right: 40px;
}
.center-footer {
  margin-left: 20px;
  margin-right: 20px;
}
.info-left {
  color: rgb(219, 84, 75);
  text-align: left;
  width: 100%;
}

.info-right {
  color: rgb(219, 84, 75);
  text-align: right;
  width: 100%;
}
.info-center {
  color: rgb(219, 84, 75);
  text-align: center;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid rgb(146, 168, 133);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tab {
  background-color: gainsboro;
  width: 400px;
  padding: 40px;
  margin: 20px;
  border-radius: 20px;
}
h1.name {
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: black;
}

h2.price {
  font-size: 38px;
  color: black;
}
.list {
  list-style-type: disc;
  margin-bottom: 50px;
  text-align: left;
}
.list li {
  margin-top: 20px;
  color: black;
}
hr {
  height: 7px;
  width: 80%;
  margin: auto;
  background-color: rgb(219, 84, 75);
  border: none;
  border-radius: 50px;
  margin-top: 20px;
}

div.about {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 30px;
  background-color: blanchedalmond;
  width: 80%;
}
.about {
  text-align: left;
  color: black;
  padding: 10px;
  width: 100%;
}
div.image-about {
  margin-bottom: auto;
  margin-top: auto;
}
img.about-us {
  max-width: 100%;
  max-height: 100%;
}
